.DS_Store


*.sgt
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.swp
*~

*.o
tb_server
kv_server
fa_test

bytecode
*.class

examples

*.exe
*.so
*.a

.nfs*

upload/*
download/*
upload_temp/*
download_temp/*
